[submodule "jsoup"]
	path = jsoup
	url = https://github.com/jhy/jsoup.git
[submodule "lib/slezica"]
	path = lib/slezica
	url = https://github.com/slezica/blogActivity.git
[submodule "lib/kolavar"]
	path = lib/kolavar
	url = https://github.com/kolavar/android-support-v4-preferencefragment.git
[submodule "libs/kolavar"]
	path = libs/kolavar
	url = https://github.com/kolavar/android-support-v4-preferencefragment.git
[submodule "libs/slezica"]
	path = libs/slezica
	url = https://github.com/slezica/blogActivity.git
