<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spicymango.fanfictionreader"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:name=".FanFictionApplication"
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppActionBar"
        >
        <!--
        android:backupAgent=".backup.BackupAgent"
        android:restoreAnyVersion="true"
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAINIDGpwjgSrfuH2UdnGU3meAwtiMHQ-zcdRigSQ"/>
        -->
        <activity
            android:name=".menu.mainmenu.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".menu.browsemenu.BrowseMenuActivity" />
        <activity android:name=".menu.categorymenu.CategoryMenuActivity" />
        <activity android:name=".menu.storymenu.StoryMenuActivity" />
        <activity android:name=".menu.communitymenu.CommunityMenuActivity" />
        <activity android:name="Settings" />

        <service android:name=".services.LibraryDownloader" />

        <activity android:name="com.spicymango.fanfictionreader.activity.reader.StoryDisplayActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="m.fanfiction.net" />
                <data android:host="www.fanfiction.net" />
                <!-- <data android:host="m.fictionpress.com"/> -->
                <!-- <data android:host="www.fictionpress.com" /> -->
                <data android:pathPrefix="/s/" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- The BROWSABLE category is required to get links from web pages. -->
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu.librarymenu.LibraryMenuActivity"/>

        <provider
            android:name="com.spicymango.fanfictionreader.provider.StoryProvider"
            android:authorities="${provider_authority}"
            android:exported="false" />

        <activity
            android:name=".activity.SearchStoryActivity"
            android:label="@string/menu_search_title" />
        <activity android:name=".menu.authormenu.AuthorMenuActivity"/>
        <activity
            android:name=".activity.SearchAuthorActivity"
            android:label="@string/menu_search_title" />
        <activity
            android:name=".activity.SearchCommunityActivity"
            android:label="@string/menu_search_title" />
        <activity android:name=".activity.AccountActivity" />
        <activity android:name=".activity.LogInActivity" />
        <activity android:name=".menu.reviewmenu.ReviewMenuActivity"/>

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
    </application>

</manifest>